<%- include('../partials/header') %>
<section class="UpcomingEvents">
    <h2>Upcoming Events</h2>
    <p>Check out what's happening soon!</p>
    // Member 4 make dinamic!
</section>
<%- include('../partials/footer') %>
   

