<%- include('../partials/header') %>
<img src="/WPR381 P-AM No. 9/public/images/GameDev-Banner.png" alt="GameDev Banner">
  
<main class="Container">
<section class="content">
<b><u><h1>LEVEL UP YOUR GAME</h1>
<p>Join 50,000+ players in tournaments, guilds and live streams all around the world.</p></u></b>
<img src="/WPR381 P-AM No. 9/public/images/GameDev-Join.jpg" alt="Your missing out if yyou havent joind yet image">        
</section>
<hr>

<section class="home-css">
  <h1>View Tournaments</h1>
  <img src="/WPR381 P-AM No. 9/public/images/GameDev-Tournament.png" alt="View Tournaments image"> 
  <p>Participate in some fun!!!</p>
  <a href="/events" ></a>
</section>
<hr>

<section class="home-css">
<h1>
<b><u>Want to know more about us?</u></b>
</h1>
<img src="/WPR381 P-AM No. 9/public/images/GameDev-About.png" alt="About image"> 
<p>Discover our story, mission and the team behind GameDev</p>
<a href="about.ejs"></a>
</section>
<hr>

<section class="home-css">
<h1>
<b><u>Want to contact us?</u></b>
</h1>
<img src="/WPR381 P-AM No. 9/public/images/GameDev-Contact.jpeg" alt="Contact image"> 
<p>Have questions? Our team is ready to help!</p>
<a href="contact.ejs"></a>
</section>
<hr>

</body>
<%- include('../partials/footer') %>
</html>