<!DOCTYPE html>
<html lang="en">
<head>
  // partials
</head>

  <main class="Container">
    <section class="content">
        <h1>LEVEL UP YOUR GAME</h1>
        <p>Join 50,000+ players in tournaments, guilds and live streams all around the world.</p>
        <a href="/events" >View Tournaments</a>
    </section>

<section class="">
<h1>
Want to know more about us?
</h1>
<a href="about.ejs"></a>
</section>

<section class="">
<h1>
Want to contact us?
</h1>
<a href="contact.ejs"></a>
</section>

<section class="">
<h1>
Please enjoy our appreciation!
</h1>
<a href="thankyou.ejs"></a>
</section>

</body>
</html>