<%- include('../partials/header') %>

    <center>
        <div id = "container">
            <h2>Thank you<% if (name) { %>, <%= name %><% } %>!</h2>
            <p>Your message has been received. We'll get back to you soon.</p>
            <img src="/WPR381 P-AM No. 9/public/images/GameDev-ThankYou.jpeg" alt="Thank you image">
            <a href="/" class="thankyou_home-button ">Back to Home</a>
        </div>
    </center>

<%- include('../partials/footer') %>